@import '~bootstrap/scss/bootstrap';

.chat-window {
  min-width: 300px;
}

@include media-breakpoint-down(sm) {
  .chat-window {
    height: 70%;
  }
  .channels-window {
    height: 30%;    
  }
  .btn-send {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  .channels-window {
    height: 100%;
  }
}