@import '~bootstrap/scss/bootstrap';

.responsive-font {
  @include rfs(32);
}

.chat-window {
  min-width: 300px;
}

@include media-breakpoint-down(sm) {
  .chat-window {
    height: 75%;
  }
  .channels-window {
    height: 25%;
  }
  .btn-send {
    display: none;
  }
}